<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625745952057-gfagi3a81cgdrqpquv8eei7if5ighv7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625745952057-gfagi3a81cgdrqpquv8eei7if5ighv7o</string>
	<key>API_KEY</key>
	<string>AIzaSyAztBuO_eyaAi1Bcw2dr3m2JGMQ207-0IU</string>
	<key>GCM_SENDER_ID</key>
	<string>625745952057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whereShouldYouLive</string>
	<key>PROJECT_ID</key>
	<string>whereshouldyoulive-1e51b</string>
	<key>STORAGE_BUCKET</key>
	<string>whereshouldyoulive-1e51b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625745952057:ios:f15af43c9329b106abbce8</string>
</dict>
</plist>